# The OTEL specific config options follow the OpenTelemetry Protocol Exporter v1
# specification as defined here:
# https://github.com/open-telemetry/opentelemetry-specification/blob/e94af89e3d0c01de30127a0f423e912f6cda7bed/specification/protocol/exporter.md

# The bearer token to retrieve sequencer blocks as blobs from Celestia.
# The token is obtained by running `celestia bridge auth <permissions>`
# on the host running the celestia node.
ASTRIA_CONDUCTOR_CELESTIA_BEARER_TOKEN="<JWT Bearer token>"

# Data Availability service url (Celestia node in this case)
# This url is used to read astria blocks from the Data Availability layer
ASTRIA_CONDUCTOR_CELESTIA_NODE_URL="http://127.0.0.1:26659"

# The chain id of the chain that is being read from the astria-sequencer or the
# Data Availability layer
ASTRIA_CONDUCTOR_CHAIN_ID="astriachain"

# Execution RPC URL
ASTRIA_CONDUCTOR_EXECUTION_RPC_URL="http://127.0.0.1:50051"

# Set the origin where blocks are pulled from and sent to the execution layer
# Setting options:
# - "SoftOnly" -> blocks are only pulled from the sequencer
# - "FirmOnly" -> blocks are only pulled from DA
# - "SoftAndFirm" -> blocks are pulled from both the sequencer and DA
ASTRIA_CONDUCTOR_EXECUTION_COMMIT_LEVEL="SoftAndFirm"

# Log Level
ASTRIA_CONDUCTOR_LOG="astria_conductor=info"

# The URL to a fully trusted CometBFT/Sequencer to issue cometbft RPCs. Example
# RPCs are subscribing to new blocks, fetching blocks at a given level, or
# retrieving validators.
# 127.0.0.1:26657 is the default socket address in comebft's `rpc.laddr` setting.
ASTRIA_CONDUCTOR_SEQUENCER_URL="ws://127.0.0.1:26657/websocket"

# the sequencer block height that the rollup's first block was in
ASTRIA_CONDUCTOR_INITIAL_SEQUENCER_BLOCK_HEIGHT=1

# set to true to enable op-stack deposit derivations
ASTRIA_CONDUCTOR_ENABLE_OPTIMISM=false

# Websocket URL of Ethereum L1 node.
# Only used if `ASTRIA_CONDUCTOR_ENABLE_OPTIMISM=true`.
ASTRIA_CONDUCTOR_ETHEREUM_L1_URL="ws://127.0.0.1:8545",

# Contract address of the OptimismPortal contract on L1.
# Only used if `ASTRIA_CONDUCTOR_ENABLE_OPTIMISM=true`.
ASTRIA_CONDUCTOR_OPTIMISM_PORTAL_CONTRACT_ADDRESS=""

# The block height of the Ethereum L1 chain that the
# OptimismPortal contract was deployed at.
# Only used if `ASTRIA_CONDUCTOR_ENABLE_OPTIMISM=true`.
ASTRIA_CONDUCTOR_INITIAL_ETHEREUM_L1_BLOCK_HEIGHT=1

# Sets the general OTLP endpoint.
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
# Sets the OTLP endpoint for trace data. This takes precedence over `OTEL_EXPORTER_OTLP_ENDPOINT` if set.
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://localhost:4317/v1/traces"
# The duration in seconds that the OTEL exporter will wait for each batch export.
OTEL_EXPORTER_OTLP_TRACES_TIMEOUT=10,
# The compression format to use for exporting. Only `"gzip"` is supported.
# Don't set the env var if no compression is required.
OTEL_EXPORTER_OTLP_TRACES_COMPRESSION="gzip"
# The HTTP headers that will be set when sending gRPC requests.
OTEL_EXPORTER_OTLP_HEADERS="key1=value1,key2=value2"
